asgiref==3.8.1
Django==4.2.16
djangorestframework==3.14.0
gunicorn==23.0.0
packaging==24.2
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.1
firebase-admin==6.6.0
tzdata==2024.2
drf-yasg==1.21.7
pre-commit==4.1.0
pytest==8.1.1
pytest-django==4.8.0
pytest-mock==3.12.0
